<html lang="en">
  <head>
    <meta charset="UTF-8" /> 
    <link rel="stylesheet" href="/css/styles.css" /> 
    <title>Task App</title>
  </head>
  <body>
    {{>header}}

    <div>
       {{errorMessage}}    
    </div>

    {{>footer}}
    <script src="js/app.js"></script>
  </body>
</html>