<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" /> 
    <title>Task App</title>
  </head>
  <body>
    {{>header}}

    <div class="container">
            {{!-- start login --}}
            <div>
                <form id="login-form">
                    <p>
                        <label for="login-email"><b>Email</b></label>
                        <input id="login-email" type="text"></p>
                    <p>
                        <label for="login-password"><b>Password</b></label>
                        <input id="login-password" type="password"></p>
                    <p>
                        <button>Login</button></p>
                </form>
            </div>
            {{!-- end login --}}

            {{!-- start register --}}
            <div>
                <form id="signup-form">
                    <p>
                        <label for="signup-name"><b>Name</b></label>
                        <input id="signup-name" type="text"></p>
                    <p>
                        <label for="signup-age"><b>Age</b></label>
                        <input id="signup-age" type="number"></p>
                    <p>
                        <label for="signup-email"><b>Email</b></label>
                        <input id="signup-email" type="text"></p>
                    <p>
                        <label for="signup-password"><b>Password</b></label>
                        <input id="signup-password" type="password"></p>
                    <p>
                        <button>Register</button></p>
                </form>
            </div>
            {{!-- end register --}}
 
        </div>
    </div>

    {{>footer}}
    <script src="js/app.js"></script>
  </body>
</html>