 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" /> 
    <title>Task App</title>
  </head>
  <body>
    {{>header}}

    <div>
        <form id="task-form">
            <input type="text" id="task-input"></input> 
        </form>

        {{!-- start task container --}}
        <div id="task-container" class="flex flex-col"></div>
        {{!-- end task container --}}
            
        </div>
    </div>

    {{>footer}}
    <script src="js/task.js"></script>
  </body>
</html>